* {
    margin: 0 auto;
    font-size: 18px;
    font-family: 'Encode Sans Expanded', sans-serif;
    color: #333;
}

body {
    background-color: rgb(22, 22, 24);
    font-weight: 700;
}

.clear-fix {
    content: '';
    display: block;
    clear: both;
}

.header-menu {
    float: left;
}

.header-menu-item {
    display: inline;
}

.header-menu-item-link {
    padding: 0 15px;
    line-height: 80px;
    font-weight: 700;
    color: rgb(255, 255, 255)!important;
}

.header-menu-burger {
    float: left;
    display: none;
    background-color: white;
    border: none;
    padding: 10px;
    margin: 20px;
}

.show {
    display: inline-block!important;
}

@media (max-width:991.98px) {
    .header-menu-item-link {
        padding: 0 5px;
    }
}

.heder-menu {
    float: right;
    font-size: 30px;
}

.header {
    margin-top: 10px;
    background-color: rgb(43, 42, 43);
    width: 90%;
    border-radius: 8px;
}

.continer {
    background-color: rgb(43, 42, 43);
    margin-top: 50px;
    width: 90%;
    border-radius: 8px;
}

.content-img {
    float: left;
    box-shadow: 4px 4px 2px rgb(54, 54, 54);
}

.content p {
    font-size: 25px;
    color: white;
    margin-right: 20px;
    text-align: right;
}

.content h2 {
    font-size: 45px;
    color: white;
    float: right;
    width: 50%;
    text-align: right;
    padding: 0 20px;
    margin: 50px 0;
}

.title {
    font-size: 40px;
}

.content {
    float: right;
    padding: 100px 0;
}

.btn a {
    color: white;
    font-size: 20px;
}

.btn {
    float: right;
    text-align: right;
    padding: 10px 20px;
    margin: 10px 62px;
    border: none;
    background: linear-gradient(to right, orange, rgb(184, 54, 216));
}

.content-item {
    width: 90%;
    text-align: right;
    margin-top: 30px;
    background-color: rgb(43, 42, 43);
    padding-top: 30px;
}

.content-item p {
    font-size: 20px;
    color: white;
    width: 50%;
    float: right;
}

.content-item-img {
    width: 400px;
    height: 400px;
    /* margin-left: 20px; */
}

.content-item h2 {
    font-size: 45px;
    color: white;
    float: right;
    width: 30%;
    text-align: right;
    padding: 0 20px;
    margin: 50px 0;
}

.Work-samples-title {
    color: orange;
    font-size: 20px;
    line-height: 60px;
}

.menu li {
    display: inline-block;
    list-style-type: none;
    margin-right: 40px;
    padding: 20px 0;
}

.menu li a {
    color: white;
}

.Work-samples {
    margin-top: 20px;
    background-color: rgb(43, 42, 43);
    width: 90%;
    border-radius: 8px;
    text-align: center;
}

.work-samples-img {
    margin-right: 30px;
    margin-bottom: 20px;
}

.item2 {
    width: 90%;
}

.img-width {
    width: 300px;
    height: 183px;
    border-radius: 5px;
}

@media (max-width:992px) {
    .header-menu-burger {
        display: inline-block;
    }
    .header-menu {
        display: none;
        width: calc(100% - 40px);
    }
    .header-menu-item {
        display: block;
        border-bottom: 1px solid #cecece;
    }
    .heder-menu {
        float: right;
    }
    .footer-content {
        height: 270px!important;
    }
    .footer-content>* {
        text-align: center!important;
    }
    .content-skill p {
        width: 61%!important;
    }
    .cv {
        width: 100%!important;
        float: none!important;
        text-align: center;
    }
    .content-skill {
        width: calc(100% - 40px)!important;
        float: none;
        padding: 20px !important;
    }
    progress {
        width: 100%!important;
        direction: rtl;
        float: none;
    }
    .about-content {
        float: none!important;
        width: calc(100% - 40px)!important;
    }
    .content-img {
        width: calc(100% - 200px);
        margin: 20px 100px;
        height: 400px;
        padding: 0;
        float: none;
    }
    .content {
        text-align: center;
        float: none;
    }
    .content h2 {
        font-size: 30px;
        color: white;
        float: none;
        width: calc(100% - 40px);
        text-align: center;
        margin: 50px 0;
    }
    .content p {
        width: 100%;
        float: none;
        font-size: 25px;
        color: white;
        margin-right: 20px;
        text-align: center;
    }
    .btn {
        float: none;
    }
    .about-img {
        background-size: cover;
        background-position: center center;
        float: none;
        width: calc(100% - 10px);
        padding: 5px 5px;
    }
    .about-content h3 {
        line-height: 70px;
        float: none;
        text-align: center!important;
    }
    .about-content h2 {
        float: none;
        text-align: center!important;
    }
    .about-content h5 {
        float: none;
        text-align: center!important;
    }
}

.matn {
    color: white;
    float: right;
    /* text-align: right; */
    padding: 10px 20px;
    margin: 10px 62px;
    width: 20%;
}

.padding {
    padding: 0;
    float: none;
}

.about-img {
    background-size: cover;
    background-position: center center;
    float: left;
    border-radius: 8px;
    height: 400px;
}

.about {
    background-color: rgb(43, 42, 43);
    width: 90%;
    margin-top: 20px;
    border-radius: 8px;
}

.about-content h3 {
    /* float: right; */
    color: #F9B500;
    padding: 10px 0;
    text-align: right;
    font-size: 25px;
}

.about-content h2 {
    font-size: 40px;
    color: white;
    text-align: right;
}

.about-content h5 {
    text-align: right;
    line-height: 30px;
    margin-top: 10px;
    color: white;
    text-align: right;
}

.about-content {
    float: right;
    width: calc(35% - 30px);
    padding: 15px;
    text-align: center;
}

.img img {
    background-image: url("../images/my-pic-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.color {
    color: #F9B500!important;
    text-decoration: none;
    transition: color 1s;
}

.color-hover:hover {
    color: #F9B500!important;
}

a {
    text-decoration: none;
}

.skill {
    background-color: rgb(43, 42, 43);
    width: 90%;
    margin-top: 20px;
    border-radius: 8px;
}

.content-skill h3 {
    color: white;
    text-align: right;
}

.content-skill p {
    color: white;
    text-align: right;
    display: block;
    width: 100%;
}

.content-skill {
    width: 34%;
    float: right;
    padding-right: 80px;
}

.color-yellow {
    color: #F9B500;
}

.size {
    font-size: 25px;
    line-height: 100px;
}

.siza-skill {
    font-size: 20px;
}


/* .mt-50px {
    margin-top: 150px;
} */

progress {
    width: 100%;
    direction: rtl;
    float: right;
}

.content-skill p {
    margin-bottom: 20px;
}

label {
    color: white;
}

.content-skill p {
    direction: rtl;
    margin-top: 40px;
    width: 61%;
    float: right;
}

.cv {
    width: 45%;
    float: left;
}

.mt-10 {
    margin-top: 40px;
}

.cs-content>* {
    padding: 40px;
}

.cs-content h1 a {
    color: white;
    transition: color 0.8s;
    text-shadow: 7px 7px 4px black;
}

.cs-content h1 a:hover {
    color: #F9B500;
}

.f-l {
    float: left;
    color: white;
}

.footer {
    background-color: rgb(43, 42, 43);
    width: 90%;
    margin-top: 10px;
    padding: 5px 0;
    border-radius: 8px;
}

.footer-content {
    width: 62%;
    background-color: rgba(43, 42, 43, 0.9);
    background-image: url("../images/map.png");
    height: 320px;
    background-position: center;
    background-repeat: no-repeat;
}

.color-black {
    background-color: rgba(43, 42, 43, 0.9);
}

.footer-content h2 {
    font-size: 25px;
    text-align: center;
    color: white;
    padding: 15px 0;
}

.footer-content-caption {
    text-align: right;
    line-height: 25px;
    margin-top: 2px;
    padding: 20px;
}

.footer-content-caption>* {
    color: white;
}

.footer-content-caption a {
    color: white;
}

.footer-content-caption h3 {
    font-size: 16px;
}

.color-green a {
    color: rgb(125, 197, 16);
}

.size-20 {
    font-size: 40px;
    color: white;
}

.about-button {
    border: none;
    background: linear-gradient( to right, rgb(176, 38, 180), rgb(215, 215, 223));
    padding: 10px 15px;
    color: white;
    font-weight: 700;
    font-size: 17px;
    margin-top: 50px;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(176, 38, 180);
}

.about-button:focus {
    outline: none;
}

.about-button:active {
    box-shadow: none;
}

.margin-top {
    margin: 100px 0;
}